<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture" rel="stylesheet">

    <link rel="stylesheet" href="../stylesheets/main.css" type="text/css">

    <style>

      .i1{
          position: absolute;
          width: 350px;
          height: 350px;
          top: 25px;
          right:30px;
      }

      .i2{
          position: absolute;
          width: 350px;
          height: 350px;
          bottom: 25px;
          right: 30px;
      }

        .menu{
         position: absolute;
         color: blanchedalmond;
         font-size: 35px;
          bottom: 12%;
          left: 8%;
        }
    </style>
  </head>
  <body>
    <h1 class="neon">
      C<span class="flicker-faster">o</span><span class="flicker-fastest">N</span><span class="flicker-fasterest">n</span>E<span class="flicker-faster">C</span><span class="flicker-fast">T </span><span class="flicker-fastest">4</span>
    </h1>

    <h2 class="neon1">
        A<span class="flicker-fast"> g</span>a<span class="flicker-faster">m</span>e for 2 playe<span class="flicker-fasterest">r</span>s!
    </h2>

    <main>

        <ul class="menu">
          <li style="color:whitesmoke" style="font-family:'Segoe UI'"class="activeButton"><a href="http://localhost:3000/play">Play</a></li>
          <li style="color:whitesmoke" style="font-family:'Segoe UI'"><a href="self.close()">Exit</a></li>
          <li style="color:whitesmoke" style="font-family:'Segoe UI'">Games Completed = <%= gamesCompleted %></li>
          <li style="color:whitesmoke" style="font-family:'Segoe UI'">Games Initialized =<%= gameInitialized %></li>
          <h3 style="color:whitesmoke" style="font-family:'Segoe UI'"id="userVisit">Number of visits: <h3>
          <h2 style="color:whitesmoke; font-family:'Segoe UI'"  id="screenIsSmall">Screen is small: <h2>
        </ul>
        




    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascript/cookie.js"></script>
    <script src="/javascript/splash.js"></script>
    <script >
            window.onload = function(){
            document.body.style.backgroundColor= "#26628A";
            //checkScreen()
        }
    </script>

  </body>
</html>
