<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture" rel="stylesheet">

    <link rel="stylesheet" href="stylesheets/main.css" type="text/css">

    <style>

      .i1{
          position: absolute;
          width: 350px;
          height: 350px;
          top: 25px;
          right:30px;
      }

      .i2{
          position: absolute;
          width: 350px;
          height: 350px;
          bottom: 25px;
          right: 30px;
      }

        .menu{
         position: absolute;
         color: blanchedalmond;
         font-size: 35px;
          bottom: 12%;
          left: 8%;
        }
    </style>
  </head>
  <body>
    <h1 class="neon">
      C<span class="flicker-faster">o</span><span class="flicker-fastest">N</span><span class="flicker-fasterest">n</span>E<span class="flicker-faster">C</span><span class="flicker-fast">T </span><span class="flicker-fastest">4</span>
    </h1>

    <h2 class="neon1">
        A<span class="flicker-fast"> g</span>a<span class="flicker-faster">m</span>e for 2 playe<span class="flicker-fasterest">r</span>s!
    </h2>

    <main>

        <ul class="menu">
          <li class="activeButton"><a href="http://localhost:3000/game.html">Play</a></li>
          <li><a href="self.close()">Exit</a></li>
        </ul>
        
<!--         <div class="photo">
            <img class="i1" src="images/SnLtop.jpeg"/>
            <img class="i2" src="images/SnLbottom.jpg"/>
        </div>
 -->
<!--         <audio autoplay>
          <source src="songs/poison.mp3" type="audio/mpeg">
        </audio> -->
        <section id="left">
            <h3>
                <%= gamesStarted %> game started
            </h3>
            <h3>
                <%= gamesOngoing %> game ongoing
            </h3>
            <h3>
                <%= gamesCompleted %> game completed
            </h3>
            <h3 id="userVisits">
                <h3>

        </section>
    </main>

    <script src="javascript/cookie.js"></script>
    <script src="javascript/splash.js"></script>
    <script >
            window.onload = function(){
            document.body.style.backgroundColor= 'black';
        }
    </script>
  </body>
</html>
